.jumbotron{
background-image: url('https://image.shutterstock.com/image-vector/cartoon-cute-doodles-hand-drawn-260nw-1785297986.jpg');
background-position: right;
  background-repeat: no-repeat;
  background-size:contain;
  background-color: #ffffff;
  margin-top: 50px;
}
.card-deck{
  margin: 20px
}
.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit:contain;
}

.space{
  margin-top: 100px;
}